<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows XP</title>
    <link rel="stylesheet" href="/public/sass/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
   
    <div class="application">
    <a href=""> <div class="computer">  <img src="/public/img/computer.png" alt=""> <p>My Computer</p> </div>  </a> 
    <a href=""> <div class="computer">   <img src="/public/img/internet.jpg" alt=""> <p>Internet Explorer</p> </div> </a>
    <a href=""> <div class="computer">   <img src="/public/img/bs.png" alt="">   <p>BS Player</p> </div> </a>
    <a href=""> <div class="computer">   <img src="/public/img/yahoo.png" alt=""> <p>Yahoo!</p> </div> </a>
    <a href=""> <div class="computer"> <img src="/public/img/cs.png" alt=""> <p>Conter Strike 1.6</p>
    </div></a>  
        <a href="">   <div class="recicle computer">
        <img src="/public/img/recicle jpg.jpg" alt=""> <p>Satra Benz</p>
       </div> </a>
    </div>
    <nav>
        <div class="nav_container">
          <a href="/views/start.html">  
              <div class="nav_container-start">
                <img class="logo" src="/public/img/logo.png" alt="">
                <i><p>Start</p></i> 
                </div> 
            </a>
            <div class="nav_container-app">
              <a href="">  <img src="/public/img/internet.jpg" alt=""> </a>
             <a href="">   <img src="/public/img/yahoo.png" alt=""> </a>
              <a href="">  <img src="/public/img/bs.png" alt=""> </a>
            </div>
            <div class="nav_container-time">
                <p><i class="fas fa-volume-up"></i>
                    <i class="fas fa-globe-europe"></i>
                    7:35 PM</p>
            </div>
        </div>
    </nav>
</body>
</html>