<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows XP</title>
    <link rel="stylesheet" href="/public/sass/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <div class="application">
    <a href=""> <div class="computer">  <img src="/public/img/computer.png" alt=""> <p>My Computer</p> </div>  </a> 
    <a href=""> <div class="computer">   <img src="/public/img/internet.jpg" alt=""> <p>Internet Explorer</p> </div> </a>
    <a href=""> <div class="computer">   <img src="/public/img/bs.png" alt="">   <p>BS Player</p> </div> </a>
    <a href=""> <div class="computer">   <img src="/public/img/yahoo.png" alt=""> <p>Yahoo!</p> </div> </a>
    <a href=""> <div class="computer"> <img src="/public/img/cs.png" alt=""> <p>Conter Strike 1.6</p>
    </div></a>  
        <a href="">   <div class="recicle computer">
        <img src="/public/img/recicle jpg.jpg" alt=""> <p>Satra Benz</p>
       </div> </a>
    </div>

    <section>
        <div class="start_container">
            <div class="start_container-top">
                <img src="/public/img/sah.jpg" alt="">
                <p>User</p>
            </div>
            <div class="start_container-mid">
                <div class="left">
                  <div class="internet"> <img src="/public/img/internet.jpg" alt=""> <b>Internet</b> </div> 
                  <div class="email"> <img src="/public/img/email.png" alt=""> <b>E-mail</b>   </div> 
                  <div class="email"> <img src="/public/img/comand.png" alt=""> <b>Command prompt</b> </div>
                  <div class="email"> <img src="/public/img/msn.png" alt=""> <b>Windows Messenger</b> </div>
                  <div class="email"> <img src="/public/img/msnn.png" alt=""><b>MSN</b></div>
                  <div class="email"><img src="/public/img/nodepad.png" alt=""><b>NotePad</b></div> 
                  <div class="email"><img src="/public/img/music.png" alt=""> <b>Windows Media Player</b></div>
                  <div class="email"><img src="/public/img/7.png" alt=""> <b>7-Zip File Manager</b></div>
                </div>
                <div class="right">
                    <ul>
                        <li><i class="far fa-file-alt"></i>My Documents</li>
                        <li><i class="far fa-file-alt"></i>My Recent Documents</li>
                        <li><i class="far fa-images"></i> My Pictures</li>
                        <li><i class="far fa-file-audio"></i> My Music</li>
                        <li><i class="fas fa-desktop"></i>My Computer</li>
                        <li><i class="fas fa-solar-panel"></i>Control Panel</li>
                        <li><i class="fas fa-question"></i>Set Program Access and Defaults</li>
                        <li><i class="fas fa-print"></i>Printers and Paces</li>
                        <li><i class="fas fa-question"></i>Help and Support</li>
                        <li><i class="fas fa-search"></i>Search</li>
                        <li><i class="fas fa-running"></i>Run</li>
                    </ul>
                </div>
            </div>
            <div class="start_container-bot">
                <img src="/public/img/log-off.png" alt=""> <p>Log Off</p>
                <img id="a" src="/public/img/off.png" alt=""> <p>Turn Off Computer</p>
            </div>
        </div>
    </section>
    <nav>
        <div class="nav_container" style="margin-top: 2px;">
          <a href="/views/home.html">  
              <div style="background-color: #306B2B;" class="nav_container-start">
                <img class="logo" src="/public/img/logo.png" alt="">
                <i><p>Start</p></i> 
                </div> 
            </a>
            <div class="nav_container-app">
              <a href="">  <img src="/public/img/internet.jpg" alt=""> </a>
             <a href="">   <img src="/public/img/yahoo.png" alt=""> </a>
              <a href="">  <img src="/public/img/bs.png" alt=""> </a>
            </div>
            <div class="nav_container-time">
                <p><i class="fas fa-volume-up"></i>
                    <i class="fas fa-globe-europe"></i>
                    7:35 PM</p>
            </div>
        </div>
    </nav>
</body>
</html>